
.cart{
    padding-bottom: 40px;
}

.poster img{
    width: 100%;
    padding: 10px 0 0 0;
}

.cart-wrap{
    display: flex;
    margin-top: 10px;
}

.cart-left{
    display: flex;
    flex-direction: column;
    flex: 0.69;
    background-color: white;
    padding-right: 10px;
    padding-bottom: 20px;
}

.cart-right{
    display: flex;
    flex-direction: column;
    flex: 0.30;
    margin-left: auto;
    background-color: white;
    height: max-content;
    padding: 0 10px 15px 10px;
    font-family: 'Varela Round', sans-serif;
    margin-top: -60px;
}

.cart-check{
    margin-top: -20px;
}

.item-wrap{
    display: flex;
}

.item-left{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    align-items: center;
}

.item-left img{
    max-width: 170px;
    max-height: 170px;
    object-fit: contain;
    padding: 25px 0 20px 0;
}

.item-right{
    display: flex;
    flex-direction: column;
    flex: 0.65;
    font-family: 'Roboto', sans-serif;
}

.item-right h3{
    font-size: 0.9rem;
}

.item-right h4{
    margin-top: -15px;
    color: red;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.item-remove{
    text-align: left;
    margin-top: -25px;
}

.link{
    text-decoration: none;
}

@media screen and ( max-width: 480px ){
    .cart-items h2{
        font-size: 0.8rem;
    }

    .cart-right{
        margin-top: 0px;
        font-size: 0.3rem;
    }

    .cart-right span{
        margin-top: 5px;
        font-size: 0.1rem;
    }

    .item-left img{
        max-width: 50px;
    }

    .item-right h3{
        font-size: 0.3rem;
    }

    .item-right h4{
        font-size: 0.4rem;
        margin-top: 1px;
    }

}