
.checkout{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 200px;
}

.checkout-wrap{
    background-color: white;
    text-align: left;
    font-size: 1rem;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.sec{
    display: flex;
}

.sec-L{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    font-size: 0.9rem;
    padding: 10px;
}

.sec-R{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    font-size: 0.8rem;
    padding: 15px;
    font-weight: 400;
}

.card-details{
    display: flex;
    width: 45%;
    color: gray;
    margin-top: -10px;
}

.card-L{
    display: flex;
    flex-direction: column;
    flex: 0.50;
}

.card-R{
    display: flex;
    flex-direction: column;
    flex: 0.50;
    text-align: right;
}

.proceed{
    width: 40%;
    border: solid 1px #DDDDDD;
    padding: 15px;
    margin-top: 20px;
}

.proceed h4{
    margin-top: 0px;
}

