
.checkout{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 200px;
}

.checkout-wrap{
    background-color: white;
    text-align: left;
    font-size: 1rem;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.sec{
    display: flex;
}

.sec-L{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    font-size: 0.9rem;
    padding: 10px;
}

.sec-R{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    font-size: 0.8rem;
    padding: 15px;
    font-weight: 400;
}

.card-details{
    display: flex;
    width: 45%;
    color: gray;
    margin-top: -10px;
}

.payment-form{
    width: 450px;
}

.payment p{
    color: red;
}

@media screen and ( max-width: 480px ){

    .checkout-wrap{
        width: 90%;
    }

    .sec-L{
        font-size: 0.7rem;
        flex: 0.15;
    }

    .sec-R{
        flex: 0.85;
    }

    .payment-form{
        width: 200px;
    }
}

