@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300;400;600;700&family=Orbitron:wght@500&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500&family=Rubik:wght@300&family=Varela+Round&display=swap');

.home{
    margin-bottom: 40px;
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.home-left{
    flex: 0.65;
}

.home-right{
    flex: 0.35;
}

.banner{
    margin-top: 20px;
}

.banner img{
    width: 90%;
    border-radius: 10px;
    border: solid #E0DECA 1px;
}

.category-card{
    width: 15%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.category-head{
    height: 120px;
    background-color: red;
    border-radius: 100%;
    width: 100%;
}

.category-icon{
    margin-top: 10px;
}

@media screen and ( max-width: 480px ){

   .home{
    width: 100%;
    margin: 0;
   }

   .banner{
    padding-top: 55px;
   }

}
