@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300;400;600;700&family=Orbitron:wght@500&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500&family=Rubik:wght@300&family=Varela+Round&display=swap');

.navigation-logo{
    width: 15%;
    object-fit: contain;
    text-align: center;
    display: flex;
}
.navigation-logo img{
    width: 70%;
    object-fit: contain;
}

.navigation-option{
    display: flex;
}

.navigation-cart{
    width: 8%;
    height: 50px;
}

.navigation p{
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
}

.navigation span{
    color: #DDDDDD;
}

.navigation h4{
    font-size: 1.4rem;
    margin-top: 40px;
    color: #E48900;
}

.link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.link:visited {
    text-decoration: none;
    color: #000;
}


@media screen and ( max-width: 480px ){
    
    .navigation{
        position: fixed;
        z-index: 999;
    }

    .navigation-logo{
        width: 70%;
        margin-bottom: 5px;
    }

    .navigation img{
        width: 35%;
        margin-top: 15px;
    }
    
    .navigation-search{
        display: none;
    }

    .navigation-option{
        display: none;
    }
    
    .navigation-cart{
        width: 17%;
    }
    
}