@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300;400;600;700&family=Orbitron:wght@500&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500&family=Rubik:wght@300&family=Varela+Round&display=swap');

.home{
    margin-bottom: 40px;
}

.banner img{
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
}

.home_row_a{
    margin-top: -200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 0 15px 0 15px;
}

.home_row_b{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0 15px 0 15px;
}

.card-main{
    background-color: white;
    z-index: 1;
    height: 360px;
    border-radius: 2px;
}

.card-desc{
    margin-top: -20px;
    padding-left: 10px;
    height: 30%;
}

.card-main h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.card-main h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: -20px;
}

.card-img img{
    width: 170px;
    height: 170px;
}

.card-img{
    display: flex;
    justify-content: center;
    height: 70%;
    margin-top: 25px;
}

.poster{
    padding: 10px 0 0 0;
}

.poster img{
    width: 100%;
}